body {
  background-color: white;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  color: black;
}
a {
  text-decoration: none;
  color: black;
}
a:hover,
a:focus {
  background: #f7f5f5;
}
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.container {
  width: 1100px;
}
header {
  padding-top: 20px;
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav {
  width: 40%;
}
.logo {
  width: 40%;
}
.navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.navigation li {
  color: black;
}
.navigation li a {
  display: block;
  padding: 6px;
}
.navigation li button {
  width: 150px;
  padding: 11px 10px;
  background-color: #fff;
  border: none;
}
.navigation li button:hover,
.navigation li button:focus {
  background: #f7f5f5;
}
.greetings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px 0 90px;
}
.left-text {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}
.main-photo {
  width: 420px;
  height: 470px;
}
.orange-text {
  color: #ff8a56;
  font-size: 68px;
  line-height: 70px;
  font-weight: 700;
}
.text {
  font-size: 64px;
  line-height: 70px;
  font-weight: 700;
}
.aboutme {
  margin-top: 30px;
  font-size: 18px;
  line-height: 33px;
  font-weight: 400;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  vertical-align: baseline;
  font-size: 18px;
  line-height: 18px;
}
.black {
  background-color: black;
  border: none;
  padding: 20px 30px;
  color: #fff;
}
.white {
  background-color: #fff;
  border: none;
  padding: 20px 30px;
}
button:hover,
button:focus {
  background: #f7f5f5;
}
.black:hover,
.black:focus {
  background: #f7f5f5;
  color: black;
}
@media screen and (max-width: 1100px) {
  .container {
    width: 900px;
    padding: 0 10px;
  }
  .nav {
    width: 500px;
    padding: 20px;
  }
  .main-photo {
    width: 350px;
  }
  .orange-text {
    font-size: 44px;
    line-height: 44px;
  }
  .text {
    font-size: 40px;
    line-height: 42px;
  }
  .aboutme {
    font-size: 24px;
    line-height: 30px;
  }
  .btn {
    font-size: 24px;
    line-height: 30px;
  }
}
@media screen and (max-width: 910px) {
  .container {
    width: 700px;
    padding: 0 20px;
  }
  .greetings {
    margin-top: 0;
  }
  .nav {
    width: 400px;
    padding: 20px 0;
  }
  .main-photo {
    width: 280px;
    height: 350px;
  }
  .orange-text {
    font-size: 36px;
    line-height: 40px;
  }
  .text {
    font-size: 32px;
    line-height: 36px;
  }
  .aboutme {
    font-size: 20px;
    line-height: 24px;
    width: 400px;
  }
  .btn {
    font-size: 20px;
    line-height: 24px;
    width: 400px;
  }
}
@media screen and (max-width: 710px) {
  .container {
    width: 540px;
    padding: 0 10px;
  }
  .greetings {
    margin-top: 0;
    width: 540px;
    padding: 0 10px;
  }
  .left-text {
    width: 260px;
  }
  .nav {
    width: 240px;
    padding: 20px;
  }
  .navigation button {
    display: none;
  }
  .main-photo {
    width: 280px;
    height: 350px;
  }
  .orange-text {
    font-size: 26px;
    line-height: 30px;
  }
  .text {
    font-size: 26px;
    line-height: 30px;
  }
  .aboutme {
    font-size: 16px;
    line-height: 22px;
    width: 260px;
    margin: 10px 0;
  }
  .btn {
    font-size: 20px;
    line-height: 24px;
    width: 240px;
  }
}
@media screen and (max-width: 550px) {
  .container {
    width: 420px;
    padding: 0 10px;
  }
  .navigation li {
    font-size: 20px;
    line-height: 26px;
  }
  .navigation button {
    display: none;
  }
  .nav {
    width: 100%;
    padding: 20px;
  }
  #main {
    width: 100%;
  }
  .orange-text {
    font-size: 24px;
    line-height: 30px;
  }
  .text {
    font-size: 24px;
    line-height: 30px;
  }
  .aboutme {
    font-size: 14px;
    line-height: 18px;
    width: 220px;
  }
  .btn {
    width: 220px;
    font-size: 20px;
    line-height: 22px;
  }
  .main-photo {
    width: 200px;
    height: 260px;
  }
  .greetings {
    align-items: flex-start;
  }
  .left-text {
    width: 220px;
  }
}
@media screen and (max-width: 430px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
    width: 300px;
  }
  .greetings {
    margin: 20px 0 40px 0;
  }
  .navigation li {
    font-size: 20px;
    line-height: 24px;
  }
  .navigation button {
    display: none;
  }
  .nav {
    width: 300px;
    padding: 20px;
  }
  #main {
    width: 100%;
  }
  header {
    margin-bottom: 0;
  }
  .orange-text {
    font-size: 30px;
    line-height: 32px;
    width: 300px;
  }
  .text {
    font-size: 30px;
    line-height: 32px;
  }
  .aboutme {
    font-size: 16px;
    line-height: 18px;
    width: 300px;
  }
  .btn {
    font-size: 20px;
    line-height: 22px;
    width: 320px;
  }
  .main-photo {
    width: 200px;
    display: none;
  }
  .left-text {
    width: 100%;
  }
}
.company p {
  text-align: center;
  font-size: 18px;
  margin: 0;
  margin-bottom: 40px;
}
.friends {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.friends img {
  margin-right: 100px;
}
.th-logo {
  margin-right: 0;
}
.company {
  margin-bottom: 90px;
}
@media screen and (max-width: 1100px) {
  .company p {
    font-size: 36px;
    line-height: 38px;
  }
  .friends img {
    width: 120px;
  }
}
@media screen and (max-width: 910px) {
  .company p {
    font-size: 24px;
    line-height: 28px;
  }
  .friends img {
    width: 200px;
    height: 40px;
  }
}
@media screen and (max-width: 710px) {
  .company p {
    font-size: 30px;
    line-height: 32px;
  }
  .friends {
    display: flex;
    justify-content: center;
  }
  .friends img {
    width: 200px;
    margin: 15px;
  }
}
@media screen and (max-width: 550px) {
  .company p {
    font-size: 20px;
    line-height: 22px;
  }
  .company {
    margin-bottom: 20px;
  }
  .friends img {
    width: 30%;
  }
}
@media screen and (max-width: 430px) {
  .company p {
    font-size: 20px;
    line-height: 26px;
  }
  .friends {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .friends img {
    width: 120px;
    margin-bottom: 15px;
  }
  .company {
    margin-bottom: 20px;
  }
}
.service {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.red-text {
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  font-weight: 700;
  color: #ff5e69;
  margin: 0;
  padding-top: 50px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.large-text {
  width: 90%;
  margin: 0;
  font-size: 54px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 110px;
}
.benefits {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.benefits-left,
.benefits-center,
.benefits-right {
  list-style: none;
  margin: 0;
  padding: 0;
}
.benefits-right {
  margin-right: 0;
}
.title {
  margin-top: 40px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 25px;
  width: 350px;
}
.text-benefits {
  width: 350px;
  font-size: 16px;
  line-height: 28px;
  color: #666;
}
@media screen and (max-width: 1100px) {
  .red-text {
    font-size: 38px;
    line-height: 40px;
  }
  .large-text {
    font-size: 36px;
    line-height: 40px;
  }
  .benefits-left,
  .benefits-center,
  .benefits-right {
    width: 290px;
  }
  .text-benefits {
    width: 275px;
    font-size: 18px;
    line-height: 26px;
  }
}
@media screen and (max-width: 910px) {
  .red-text {
    font-size: 38px;
    line-height: 40px;
  }
  .large-text {
    font-size: 36px;
    line-height: 40px;
  }
  .title {
    font-size: 22px;
    line-height: 26px;
  }
  .benefits-left,
  .benefits-center,
  .benefits-right {
    width: 225px;
  }
  .text-benefits {
    width: 215px;
    font-size: 18px;
    line-height: 26px;
  }
}
@media screen and (max-width: 710px) {
  .red-text {
    font-size: 38px;
    line-height: 40px;
  }
  .large-text {
    width: 500px;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 30px;
  }
  .title {
    font-size: 22px;
    line-height: 26px;
  }
  .benefits-left,
  .benefits-center,
  .benefits-right {
    width: 540px;
  }
  .text-benefits {
    width: 540px;
    font-size: 18px;
    line-height: 26px;
  }
}
@media screen and (max-width: 550px) {
  .red-text {
    font-size: 24px;
    line-height: 30px;
  }
  .large-text {
    font-size: 24px;
    line-height: 30px;
  }
  .benefits-left,
  .benefits-center,
  .benefits-right {
    width: 100%;
  }
  .benefits-left img,
  .benefits-center img,
  .benefits-right img {
    width: 30px;
    height: 30px;
  }
  .title {
    margin-top: 10px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 10px;
    width: 100%;
  }
  .text-benefits {
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    color: #666;
  }
}
@media screen and (max-width: 430px) {
  .red-text {
    font-size: 30px;
    line-height: 32px;
  }
  .large-text {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 35px;
    width: 300px;
  }
  .benefits-left,
  .benefits-center,
  .benefits-right {
    width: 100%;
  }
  .benefits-left img,
  .benefits-center img,
  .benefits-right img {
    width: 40px;
  }
  .title {
    margin-top: 20px;
    font-size: 26px;
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 15px;
    width: 100%;
  }
  .text-benefits {
    width: 100%;
    font-size: 20px;
    line-height: 24px;
    color: #666;
  }
}
.product {
  list-style: none;
  margin: 0;
  padding: 15px;
  color: black;
  font-weight: 700;
}
.product li {
  position: relative;
  margin-bottom: 10px;
}
.product li::before {
  content: url(../images/Rectangle.png);
  position: absolute;
  top: -2px;
  left: -14px;
}
section {
  margin-bottom: 60px;
}
.blog-cont {
  padding-top: 350px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.blog {
  text-align: left;
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  color: #ffa84b;
  text-transform: uppercase;
  padding-top: 50px;
}
.latest-news {
  width: 30%;
  text-align: left;
  font-size: 48px;
  line-height: 52px;
  font-weight: 700;
  margin: 15px 0;
}
.view {
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  color: #fff;
}
.view:hover,
.view:focus {
  text-decoration: underline;
  background-color: #000;
}
@media screen and (max-width: 900px) {
  .blog-cont {
    width: 100%;
    padding-top: 290px;
  }
  .blog {
    font-size: 34px;
    line-height: 36px;
  }
}
@media screen and (max-width: 710px) {
  .blog-cont {
    width: 100%;
    padding-top: 220px;
  }
}
@media screen and (max-width: 550px) {
  .blog-cont {
    width: 100%;
    padding-top: 200px;
  }
  .blog {
    font-size: 24px;
    line-height: 32px;
  }
  .latest-news {
    font-size: 32px;
    line-height: 34px;
  }
}
@media screen and (max-width: 430px) {
  .blog-cont {
    width: 100%;
    padding-top: 290px;
  }
  .blog {
    font-size: 30px;
    line-height: 32px;
  }
}
.list-blog {
  width: 55%;
  padding-top: 70px;
}
.read:hover {
  text-decoration: underline;
  background-color: #000;
}
.read {
  color: #fff;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #fff;
}
.text-blog {
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
  margin: 20px 0 35px 0;
}
time {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #fff;
  opacity: 0.5;
}
.list-blog li {
  padding: 25px 0 35px 0;
  border-bottom: 1px solid rgba(229, 229, 229, 0.2);
}
@media screen and (max-width: 1100px) {
  .list-blog {
    width: 500px;
  }
  .left-blog {
    width: 400px;
  }
  .list-blog li {
    width: 100%;
  }
  .text-blog {
    font-size: 36px;
    line-height: 48px;
  }
  .list-blog {
    padding-top: 0px;
  }
}
@media screen and (max-width: 910px) {
  .text-blog {
    font-size: 26px;
    line-height: 32px;
  }
}
@media screen and (max-width: 710px) {
  .list-blog {
    width: 540px;
  }
}
@media screen and (max-width: 550px) {
  .list-blog {
    width: 100%;
  }
  .list-blog li {
    width: 100%;
    padding: 10px 0;
  }
  .text-blog {
    font-size: 20px;
    line-height: 24px;
    margin: 10px 0;
  }
  .list-blog {
    padding-top: 0px;
  }
}
@media screen and (max-width: 430px) {
  .text-blog {
    font-size: 18px;
    line-height: 24px;
  }
}
.title-main-project {
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  color: #b16cea;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.results p {
  font-size: 46px;
  line-height: 52px;
  font-weight: 700;
}
.project-text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.project-text button {
  width: 200px;
  background-color: #000;
  color: #fff;
  padding: 15px 0;
  border: none;
  font-size: 18px;
}
.project-text button:hover {
  background-color: #f7f5f5;
  color: #000;
}
.list-project {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-project li {
  width: 350px;
  background-color: #f5f5f5;
}
.name-project {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #3c46ff;
  margin-top: 20px;
  text-transform: uppercase;
  margin-left: 30px;
}
.project-name {
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  margin-top: 15px;
  margin-left: 30px;
}
.project-view {
  display: block;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 30px;
}
.project-view:hover,
.project-view:focus {
  text-decoration: underline;
}
.left-design {
  display: inline-block;
  width: 45px;
  height: 45px;
  color: #010101;
  font-weight: 700;
  font-size: 16px;
  background-color: #fff;
  border: none;
}
.left-design:focus,
.left-design:hover{
  color: rgb(28, 28, 28);
  background-color: #f5eeee;
  border: none;
}
.left-design:active{
  color: rgb(255, 255, 255);
  background-color: #222121;
  border: none; 
}
#project {
  padding-top: 20px;
  position: relative;
  margin-bottom: -120px;
}
.design-btn {
  width: 100px;
  position: absolute;
  right: 0;
  bottom: -150px;
}
.title-main-project {
  position: relative;
}
.list-project {
  position: absolute;
  left: 0;
  top: 200px;
  width: 1100px;
}
.image-project {
  width: 350px;
  height: 220px;
}
.second-slider{
  display: none;
}
.active{
  color: rgb(255, 255, 255);
  background-color: #222121;
  border: none; 
}
@media screen and (max-width: 1100px) {
  .list-project li {
    width: 280px;
    height: 402.6px;
  }
  .first-image-project,
  .image-project {
    width: 280px;
    height: 220px;
  }
  .last-image {
    width: 280px;
    height: 220px;
  }
  .last-view {
    margin-top: 20px;
    padding-top: 25px;
  }
}
@media screen and (max-width: 910px) {
  .list-project li {
    width: 245px;
  }
  #project {
    margin-bottom: -130px;
  }
  .project-text button {
    margin-top: 20px;
  }
  .first-image-project,
  .image-project {
    width: 245px;
    height: 220px;
  }
  .last-image {
    width: 245px;
    height: 220px;
  }
  .last-view {
    margin-top: 20px;
    padding-top: 25px;
  }
  .title-main-project {
    position: relative;
  }
  .list-project {
    position: absolute;
    left: 0;
    top: 240px;
  }
}
@media screen and (max-width: 710px) {
  .list-project li {
    width: 180px;
    height: 280px;
  }
  #project {
    margin-bottom: -215px;
  }
  .project-text button {
    margin-top: 20px;
  }
  .project-name {
    font-size: 16px;
    line-height: 20px;
  }
  .name-project {
    font-size: 14px;
    line-height: 18px;
    margin-top: 0;
  }
  .name-project,
  .project-name,
  .project-view {
    margin-left: 15px;
  }
  .first-image-project,
  .image-project {
    width: 180px;
    height: 150px;
  }
  .last-image {
    width: 180px;
    height: 150px;
  }
  .last-view {
    margin-top: 20px;
    padding-top: 25px;
  }
  .title-main-project {
    position: relative;
  }
  .list-project {
    position: absolute;
    left: 0;
    top: 280px;
  }
  .last-view {
    padding-top: 20px;
  }
  .design-btn {
    bottom: 0;
  }
}
@media screen and (max-width: 550px) {
  #project {
    margin-bottom: -120px;
  }
  .project-name {
    font-size: 20px;
    line-height: 22px;
  }
  .list-project li {
    width: 420px;
    height: 350px;
  }
  .title-main-project {
    font-size: 30px;
    line-height: 32px;
  }
  .title-main-project {
    position: relative;
  }
  .list-project {
    position: absolute;
    left: 0;
    top: 230px;
  }
  .first-image-project {
    width: 420px;
    height: 220px;
  }
  .left-design {
    display: inline-block;
    width: 35px;
    height: 35px;
    color: #010101;
    font-weight: 700;
    font-size: 20px;
    background-color: #fff;
    border: none;
  }
  .results p {
    font-size: 30px;
    line-height: 32px;
  }
  .project-text button {
    margin-top: 20px;
    width: 300px;
    font-size: 24px;
    line-height: 30px;
  }
  .no-image {
    display: none;
  }
  .image-project {
    width: 420px;
    height: 320px;
  }
  .design-btn {
    bottom: -70px;
  }
}
@media screen and (max-width: 430px) {
  #project {
    margin-bottom: -150px;
  }
  .project-name {
    font-size: 20px;
    line-height: 24px;
  }
  .list-project li {
    width: 300px;
  }
  .title-main-project {
    font-size: 30px;
    line-height: 32px;
  }
  .title-main-project {
    position: relative;
  }
  .list-project {
    position: absolute;
    left: 10px;
    top: 240px;
  }
  .first-image-project {
    width: 300px;
    height: 210px;
  }
  .left-design {
    display: inline-block;
    width: 45px;
    height: 45px;
    color: #010101;
    font-weight: 700;
    font-size: 20px;
    background-color: #fff;
    border: none;
  }
  .results p {
    font-size: 24px;
    line-height: 26px;
  }
  .project-text button {
    margin-top: 20px;
    width: 320px;
    font-size: 32px;
    line-height: 40px;
  }
  .list-project li {
    width: 300px;
  }
  .no-image {
    display: none;
  }
  .image-project {
    width: 300px;
    height: 320px;
  }
  .design-btn {
    bottom: -90px;
  }
}
#me {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-text {
  padding-bottom: 330px;
}
.title-me {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.designer-me h1 {
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  color: #ff5e69;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.designer-me p {
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
  text-transform: uppercase;
  width: 500px;
  margin: 0;
  padding: 0;
}
#me {
  width: 100%;
  margin-bottom: 80px;
}
.text-about-me {
  width: 500px;
  color: #666;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  margin: 0;
  padding: 50px 0 0 0;
  margin-bottom: 100px;
}

.images-me {
  display: grid;
  grid-template-columns: 300px 480px 300px;
  gap: 10px;
}
.images-one {
  width: 300px;
  height: 490px;
}
.images-two {
  width: 480px;
  height: 490px;
}
.images-three {
  width: 300px;
  height: 240px;
}
@media screen and (max-width: 1100px) {
  .text-about-me {
    width: 400px;
    font-size: 20px;
    line-height: 26px;
    padding-top: 0;
  }
  .images-me {
    display: grid;
    grid-template-columns: 290px 295px 290px;
    gap: 10px;
  }
  .images-one {
    width: 290px;
    height: 450px;
  }
  .images-two {
    width: 295px;
    height: 450px;
  }
  .images-three {
    width: 290px;
    height: 220px;
  }
  .designer-me h1 {
    font-size: 30px;
    line-height: 32px;
  }
  .designer-me p {
    font-size: 26px;
    line-height: 28px;
  }
}
@media screen and (max-width: 910px) {
  .text-about-me {
    width: 400px;
    font-size: 20px;
    line-height: 26px;
    padding-top: 0;
  }
  .images-me {
    display: grid;
    grid-template-columns: 235px 245px 235px;
    gap: 10px;
  }
  .images-one {
    width: 235px;
    height: 450px;
  }
  .images-two {
    width: 245px;
    height: 450px;
  }
  .images-three {
    width: 235px;
    height: 220px;
  }
  .designer-me h1 {
    font-size: 34px;
    line-height: 38px;
  }
  .designer-me p {
    font-size: 30px;
    line-height: 32px;
  }
  .designer-me {
    width: 300px;
  }
}
@media screen and (max-width: 710px) {
  .text-about-me {
    width: 300px;
    font-size: 14px;
    line-height: 22px;
    padding-top: 0;
    margin-bottom: 50px;
  }
  .images-me {
    display: grid;
    grid-template-columns: 150px 220px 150px;
    gap: 10px;
  }
  .images-one {
    width: 150px;
    height: 260px;
  }
  .images-two {
    width: 225px;
    height: 260px;
  }
  .images-three {
    width: 150px;
    height: 125px;
  }
  .designer-me h1 {
    font-size: 30px;
    line-height: 32px;
  }
  .designer-me p {
    font-size: 26px;
    line-height: 30px;
  }
  .designer-me {
    width: 220px;
  }
}
@media screen and (max-width: 550px) {
  .text-about-me {
    width: 100%;
    font-size: 16px;
    line-height: 22px;
  }
  .images-me {
    display: grid;
    grid-template-columns: 100px 200px 100px;
    gap: 10px;
  }
  .images-one {
    width: 100px;
    height: 210px;
  }
  .images-two {
    width: 200px;
    height: 210px;
  }
  .images-three {
    width: 100px;
    height: 100px;
  }
  .designer-me h1 {
    font-size: 30px;
    line-height: 32px;
  }
}
@media screen and (max-width: 430px) {
  .designer-me h1 {
    font-size: 30px;
    line-height: 32px;
  }
  .text-about-me {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
  }
  .designer-me p {
    font-size: 32px;
    line-height: 32px;
  }
  .images-me {
    display: grid;
    grid-template-columns: 90px 95px 90px;
    gap: 5px;
  }
  .images-one {
    width: 90px;
    height: 150px;
  }
  .images-two {
    width: 95px;
    height: 150px;
  }
  .images-three {
    width: 90px;
    height: 70px;
  }
}
h3 {
  margin: 0;
}
#experience {
  width: 1100px;
}
.education {
  width: 100%;
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.educate {
  width: 520px;
  padding-top: 70px;
}
.educt {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 0 45px;
  margin-bottom: 15px;
  position: relative;
}
.educt::before {
  content: url(../images/book.png);
  width: 36px;
  height: 36px;
  top: 0;
  left: 0;
  position: absolute;
}
.name-educate-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
  border-bottom: 1px solid #e5e5e5;
}
.name-educate p {
  font-size: 16px;
  line-height: 20px;
  color: #666;
}
.year {
  font-size: 16px;
  line-height: 20px;
  color: #666;
  position: relative;
}
.year::before {
  content: "";
  top: 8px;
  left: -6px;
  width: 1px;
  height: 1px;
  background-color: #666;
  border: 1px #666 solid;
  border-radius: 50%;
  position: absolute;
}
.work {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 0 45px;
  margin-bottom: 15px;
  position: relative;
}
.work::before {
  content: url(../images/bag.png);
  width: 36px;
  height: 36px;
  top: 0;
  left: 0;
  position: absolute;
}
.name-work-first p,
.name-work-sec p,
.name-work-th p {
  font-size: 16px;
  line-height: 20px;
  color: #666;
}
.name-work-first {
  position: relative;
  padding-left: 65px;
}
.name-work-first::before {
  content: url(../images/fly.png);
  top: 3px;
  left: 0;
  position: absolute;
}
.name-work-sec {
  position: relative;
  padding-left: 65px;
}
.name-work-sec::before {
  content: url(../images/mash.png);
  top: 3px;
  left: 0;
  position: absolute;
}
.educate {
  padding-top: 40px;
}
.name-work-th {
  position: relative;
  padding-left: 65px;
}
.name-work-th::before {
  content: url(../images/king.png);
  top: 3px;
  left: 0;
  position: absolute;
}
@media screen and (max-width: 1100px) {
  #experience {
    width: 900px;
  }
  .education {
    width: 900px;
  }
  .educate {
    width: 420px;
    padding-top: 70px;
  }
  .name-educate p {
    width: 310px;
  }
  .name-work {
    width: 200px;
  }
  .year {
    font-size: 12px;
    line-height: 20px;
    width: 70px;
  }
  .name-work-sec-li {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 910px) {
  #experience {
    width: 700px;
  }
  .education {
    width: 700px;
  }
  .educate {
    width: 700px;
    padding-top: 20px;
  }
  .name-educate p {
    width: 310px;
    font-size: 24px;
    line-height: 30px;
  }
  .name-work {
    width: 400px;
  }
  .work {
    margin-top: 20px;
  }
  .year {
    font-size: 18px;
    line-height: 20px;
    width: 150px;
  }
  .name-work-first p,
  .name-work-sec p,
  .name-work-th p {
    font-size: 24px;
    line-height: 30px;
  }
  .name-work-first h3,
  .name-work-sec h3,
  .name-work-th h3 {
    font-size: 26px;
    line-height: 32px;
  }
  .name-educate h3 {
    font-size: 26px;
    line-height: 32px;
  }
}
@media screen and (max-width: 710px) {
  #experience {
    width: 540px;
  }
  .education {
    width: 540px;
    padding-top: 0;
  }
  .educate {
    width: 540px;
    padding-top: 20px;
  }
  .name-educate p {
    width: 310px;
    font-size: 16px;
    line-height: 20px;
  }
  .work {
    margin-top: 20px;
    font-size: 24px;
  }
  .educt {
    font-size: 24px;
  }
  .year {
    font-size: 14px;
    line-height: 20px;
    width: 100px;
  }
  .name-work-first p,
  .name-work-sec p,
  .name-work-th p {
    font-size: 16px;
    line-height: 20px;
    width: 200px;
  }
  .name-work-first h3,
  .name-work-sec h3,
  .name-work-th h3 {
    font-size: 20px;
    line-height: 30px;
  }
  .name-educate h3 {
    font-size: 20px;
    line-height: 30px;
  }
}
@media screen and (max-width: 550px) {
  #me {
    margin-bottom: 40px;
  }
  #experience {
    width: 420px;
  }
  .education {
    width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }
  .educate {
    width: 100%;
    padding-top: 30px;
  }
  .educt {
    font-size: 30px;
    line-height: 32px;
    margin: 0;
  }
  .name-educate-list {
    margin-bottom: 40px;
    width: 420px;
  }
  .work {
    font-size: 30px;
    line-height: 32px;
  }
  .name-educate h3 {
    font-size: 24px;
    line-height: 30px;
  }
  .name-educate p {
    font-size: 20px;
    line-height: 26px;
    width: 350px;
  }
  .year {
    font-size: 12px;
    line-height: 18px;
  }
  .name-work {
    width: 380px;
  }
  .name-work-first p,
  .name-work-sec p,
  .name-work-th p {
    font-size: 20px;
    line-height: 26px;
  }
  .name-work-first h3,
  .name-work-sec h3,
  .name-work-th h3 {
    font-size: 24px;
    line-height: 30px;
  }
}
@media screen and (max-width: 430px) {
  #me {
    margin-bottom: 40px;
  }
  #experience {
    width: 300px;
  }
  .education {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }
  .educate {
    width: 100%;
    padding-top: 70px;
  }
  .educt {
    font-size: 30px;
    line-height: 32px;
    margin: 0;
  }
  .name-educate-list {
    margin-bottom: 40px;
    width: 300px;
  }
  .work {
    font-size: 30px;
    line-height: 32px;
  }
  .name-educate h3 {
    font-size: 20px;
    line-height: 22px;
  }
  .name-educate p {
    font-size: 16px;
    line-height: 20px;
    width: 260px;
  }
  .year {
    font-size: 12px;
    line-height: 18px;
  }
  .name-work {
    width: 200px;
  }
  .name-work-first p,
  .name-work-sec p,
  .name-work-th p {
    font-size: 16px;
    line-height: 20px;
  }
  .name-work-first h3,
  .name-work-sec h3,
  .name-work-th h3 {
    font-size: 20px;
    line-height: 22px;
  }
}
.testimonials {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 90px;
}
.testimonials h3 {
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  color: #4353ff;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-top: 50px;
}
.world-street {
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
  color: #000;
  margin-bottom: 50px;
}
.john {
  box-shadow: 10px 15px 15px 1px #d6d4d0;
}
.john-testi {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.testi {
  width: 500px;
  padding-top: 20px;
}
.text-testi {
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 80px;
}
h4 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  text-align: left;
  margin: 0;
  margin-bottom: 7px;
}
.founder {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-align: left;
}
.found-btn {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.left-right {
  display: inline-block;
  width: 45px;
  height: 45px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  background-color: #000;
}
.left-right:focus,
.left-right:hover {
  color: #000;
  background-color: #f7f5f5;
  border: none;
}
.for {
  margin-left: -0.25em;
}
@media screen and (max-width: 1100px) {
  .john {
    width: 370px;
    height: 400px;
  }
  .text-testi {
    font-size: 24px;
    line-height: 34px;
  }
}
@media screen and (max-width: 910px) {
  .john {
    width: 320px;
    height: 350px;
  }
  .testi {
    width: 350px;
  }
  .text-testi {
    width: 300px;
    font-size: 18px;
    line-height: 24px;
    margin-top: 0;
  }
}
@media screen and (max-width: 710px) {
  .john {
    width: 200px;
    height: 220px;
  }
  .testi {
    width: 320px;
    padding: 0;
  }
  .text-testi {
    width: 320px;
    font-size: 16px;
    line-height: 20px;
    margin: 15px 0;
  }
  .left-right {
    display: inline-block;
    width: 30px;
    height: 35px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    background-color: #000;
  }
  .founder {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    text-align: left;
  }
  .world-street {
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 550px) {
  .testimonials h3 {
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 10px;
    padding-top: 10px;
  }
  .testimonials {
    padding-top: 0;
    width: 420px;
  }
  .world-street {
    font-size: 30px;
    line-height: 32px;
  }
  section {
    margin-bottom: 30px;
  }
  .john {
    width: 200px;
    height: 220px;
  }
  .testi {
    width: 200px;
  }
  .text-testi {
    width: 200px;
    font-size: 14px;
    line-height: 18px;
  }
  .testi img {
    width: 20px;
    height: 20px;
  }
  .founder {
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    text-align: left;
  }
  .testimonials h4 {
    font-size: 14px;
    line-height: 14px;
  }
  .john-testi {
    padding: 0;
  }
}
@media screen and (max-width: 430px) {
  .testimonials h3 {
    font-size: 30px;
    line-height: 32px;
  }
  .world-street {
    font-size: 24px;
    line-height: 26px;
  }
  .john {
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }
  .testi {
    width: 200px;
  }
  .text-testi {
    width: 200px;
    font-size: 12px;
    line-height: 14px;
    margin: 0 0 20px 0;
  }
  .founder {
    font-size: 10px;
    line-height: 16px;
  }
  .testimonials {
    width: 300px;
    padding-top: 0;
  }
}
.faq {
  width: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding-bottom: 150px;
  color: #fff;
}
h5 {
  color: #ff8a56;
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding-top: 50px;
}
.faq-cont p {
  color: #fff;
  font-size: 48px;
  line-height: 52px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 80px;
}
.faq-question {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
details {
  width: 520px;
  border-bottom: 1px solid rgba(229, 229, 229, 0.2);
  margin-right: 0;
}
.title-details {
  color: #fff;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
  padding: 30px 0 30px 3px;
  border-bottom: 1px solid rgba(229, 229, 229, 0.2);
  display: block;
  width: 100%;
  position: relative;
}
.title-details:hover,
.title-details:focus {
  cursor: pointer;
  background-color: #11110f;
  transition: 0.5s ease;
}
.title-details::after {
  display: block;
  content: "‹";
  transform: rotate(270deg);
  top: 33px;
  right: 7px;
  position: absolute;
  transition: 0.4s ease;
}
details[open] .title-details::after {
  transform: rotate(90deg);
  transition: 0.3s ease;
}
.text-details {
  padding: 15px 0 15px 20px;
  font-weight: 400;
  color: rgba(229, 229, 229, 0.8);
  font-size: 18px;
  line-height: 28px;
  background-color: #010101;
}
details summary::-webkit-details-marker {
  display: none;
}
@media screen and (max-width: 1100px) {
  .faq-question {
    width: 900px;
  }
  .left-details,
  .right-details {
    width: 440px;
  }
  details {
    width: 440px;
  }
  .title-details {
    font-size: 22px;
    line-height: 28px;
  }
}
@media screen and (max-width: 910px) {
  .faq-question {
    width: 700px;
  }
  .left-details,
  .right-details {
    width: 700px;
  }
  details {
    width: 700px;
  }
  .title-details {
    font-size: 22px;
    line-height: 28px;
  }
}
@media screen and (max-width: 710px) {
  .faq-question {
    width: 540px;
  }
  .left-details,
  .right-details {
    width: 540px;
  }
  details {
    width: 540px;
  }
  .title-details {
    font-size: 22px;
    line-height: 28px;
  }
}
@media screen and (max-width: 550px) {
  .left-details,
  .right-details {
    width: 420px;
  }
  details {
    width: 400px;
    padding: 0 10px;
  }
  .faq-question {
    width: 420px;
  }
  .faq-cont h5 {
    font-size: 30px;
    line-height: 32px;
    margin: 20px 0;
  }
  .faq-cont p {
    font-size: 30px;
    line-height: 32px;
    padding-bottom: 20px;
  }
  .title-details {
    font-size: 20px;
    line-height: 24px;
  }
  .text-details {
    font-size: 16px;
    line-height: 20px;
  }
  .faq {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 430px) {
  .faq-cont h5 {
    font-size: 30px;
    line-height: 32px;
    margin-top: 20px;
  }
  .faq-cont p {
    font-size: 24px;
    line-height: 26px;
  }
  .left-details,
  .right-details {
    width: 300px;
  }
  details {
    width: 300px;
  }
  .title-details {
    font-size: 16px;
    line-height: 20px;
  }
  .text-details {
    font-size: 14px;
    line-height: 18px;
  }
  .faq-question {
    width: 320px;
  }
  .faq {
    padding-bottom: 30px;
  }
}
.footer {
  width: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding-bottom: 30px;
  color: #fff;
}
.ready {
  color: #fff;
  font-size: 48px;
  line-height: 52px;
  font-weight: 700;
  text-align: left;
}
.lets {
  cursor: pointer;
  border: 0;
  background-color: #000;
  color: #4353ff;
  font-size: 48px;
  line-height: 52px;
  font-weight: 700;
  text-align: left;
  padding: 0;
}
.lets:hover,
.lets:focus {
  background-color: #000;
  color: #4353ff;
}
.footer-cont {
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.right-foot {
  width: 480px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.li-foot-a {
  color: #fff;
  display: block;
  padding: 4px;
}
.right-foot li {
  margin-bottom: 20px;
}
.li-foot-a:hover,
.li-foot-a:focus {
  color: #000;
}
address {
  color: #666;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}
.mail {
  color: #666;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  padding-left: 35px;
}
.mail::before {
  content: url(../images/mail.png);
  position: absolute;
  top: 0;
  left: 0;
}
.logo-main:hover,
.logo-main:focus {
  background-color: rgba(229, 229, 229, 0);
  color: #000;
}
@media screen and (max-width: 550px) {
  .ready {
    font-size: 30px;
    line-height: 36px;
  }
  .lets {
    font-size: 26px;
    line-height: 28px;
  }
}
@media screen and (max-width: 430px) {
  .ready {
    font-size: 20px;
    line-height: 26px;
  }
  .lets {
    font-size: 30px;
    line-height: 32px;
  }
}
.pop-up-bg {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.pop-up-body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pop-up {
  width: 500px;
  height: 520px;
  background-color: rgb(34, 34, 34);
  box-shadow: 10px 10px 20px 10px rgba(229, 229, 229, 0.3);
  border-radius: 5%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.cross-popup {
  position: absolute;
  top: 20px;
  left: 520px;
  z-index: 1;
  transform: rotate(40deg);
}
.logo-popup {
  margin-top: 20px;
  width: 200px;
}
.pop-up h1 {
  color: #f26a30;
  font-size: 56px;
  line-height: 56px;
  font-weight: 700;
  width: 500px;
  text-align: center;
  margin-top: 50px;
}
.pop-up-p {
  width: 500px;
  color: #fff;
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  margin-bottom: 50px;
  text-align: center;
}
.btn-pop-up {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  width: 500px;
}
.pop-up button {
  width: 200px;
  background-color: #010101;
  padding: 20px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  color: #f5f5f5;
  margin-top: 60px;
  display: block;
}
.pop-up button:hover,
.pop-up button:focus {
  background: #f7f5f5;
  color: #010101;
  transition: 0.5s all;
}
.label-tel {
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  margin-right: 15px;
  color: #fff;
}
.tel {
  width: 240px;
  border: #000 2px solid;
  padding: 10px;
}
.tel:hover,
.tel:focus,
.tel:active {
  border: #7e35a0 2px solid;
  transition: 0.8 all;
}
@media screen and (max-width: 550px) {
  .pop-up {
    width: 400px;
    height: 320px;
  }
  .cross-popup {
    position: absolute;
    top: 20px;
    left: 420px;
    z-index: 1;
    transform: rotate(40deg);
  }
  .logo-popup {
    margin-top: 5px;
    width: 200px;
  }
  .pop-up h1 {
    color: #f26a30;
    font-size: 30px;
    line-height: 32px;
    font-weight: 700;
    width: 400px;
    text-align: center;
    margin-top: 20px;
  }
  .pop-up-p {
    width: 400px;
    color: #fff;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
  }
  .btn-pop-up {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 400px;
  }
  .pop-up button {
    width: 190px;
    background-color: #010101;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
    color: #f5f5f5;
    margin-top: 30px;
    display: block;
  }
  .pop-up button:hover,
  .pop-up button:focus {
    background: #f7f5f5;
    color: #010101;
    transition: 0.5s all;
  }
  .label-tel {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    margin-right: 15px;
    color: #fff;
  }
  .tel {
    width: 170px;
    border: #000 2px solid;
    padding: 10px;
  }
}
@media screen and (max-width: 430px) {
  .pop-up-bg {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  .pop-up {
    width: 200px;
    height: 220px;
  }
  .cross-popup {
    position: absolute;
    top: 20px;
    left: 220px;
    z-index: 1;
    transform: rotate(40deg);
  }
  .logo-popup {
    margin-top: 5px;
    width: 100px;
  }
  .pop-up h1 {
    color: #f26a30;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    width: 200px;
    text-align: center;
    margin-top: 10px;
  }
  .pop-up-p {
    width: 200px;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    margin-bottom: 5px;
    text-align: center;
  }
  .btn-pop-up {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 200px;
  }
  .pop-up button {
    width: 95px;
    background-color: #010101;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    line-height: 16px;
    font-weight: 700;
    color: #f5f5f5;
    margin-top: 10px;
    display: block;
  }
  .pop-up button:hover,
  .pop-up button:focus {
    background: #f7f5f5;
    color: #010101;
    transition: 0.5s all;
  }
  .label-tel {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin-right: 15px;
    color: #fff;
  }
  .tel {
    width: 170px;
    border: #000 2px solid;
    padding: 10px;
  }
  .tel:hover,
  .tel:focus,
  .tel:active {
    border: #7e35a0 2px solid;
    transition: 0.8 all;
  }
}
