body {
  background-color: white;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  color: black;
}
a {
  text-decoration: none;
  color: black;
}
a:hover,
a:focus {
  background: #f7f5f5;
}
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  padding-top: 20px;
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  width: 1100px;
}
.nav {
  width: 510px;
}
.logo {
  width: 500px;
}
.navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}
.navigation li {
  color: black;
}
.navigation li a {
  display: block;
  padding: 6px;
}
.navigation li button {
  width: 150px;
  padding: 11px 10px;
  background-color: #fff;
  border: none;
}
.navigation li button:hover,
.navigation li button:active {
  background: #f7f5f5;
}
.greetings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 90px;
}
.left-text {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.orange-text {
  color: #ff8a56;
  font-size: 68px;
  line-height: 70px;
  font-weight: 700;
}
.text {
  font-size: 64px;
  line-height: 70px;
  font-weight: 700;
}
.aboutme {
  margin-top: 30px;
  font-size: 18px;
  line-height: 33px;
  font-weight: 400;
  margin-bottom: 30px;
}
.btn {
  display: inline-block;
  vertical-align: baseline;
  font-size: 18px;
  line-height: 18px;
}
.black {
  background-color: black;
  border: none;
  padding: 20px 30px;
  color: #fff;
}
.white {
  background-color: #fff;
  border: none;
  padding: 20px 30px;
}
button:hover,
button:active {
  background: #f7f5f5;
}
.black:hover,
.black:active {
  background: #f7f5f5;
  color: black;
}

.company p {
  text-align: center;
  font-size: 18px;
  margin: 0;
  margin-bottom: 40px;
}
.friends {
  display: flex;
  justify-content: space-between;
}
.friends img {
  margin-right: 100px;
}
.th-logo {
  margin-right: 0;
}
.company {
  margin-bottom: 90px;
}
.service {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.red-text {
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  color: #ff5e69;
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.large-text {
  width: 1000px;
  margin: 0;
  font-size: 54px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 110px;
}
.benefits {
  display: flex;
  justify-content: space-between;
}
.benefits-left,
.benefits-center,
.benefits-right {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 20px;
}
.benefits-right {
  margin-right: 0;
}
.title {
  margin-top: 40px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 25px;
  width: 350px;
}
.text-benefits {
  width: 350px;
  font-size: 16px;
  line-height: 28px;
  color: #666;
}
.product {
  list-style: none;
  margin: 0;
  padding: 15px;
  color: black;
  font-weight: 700;
}
.product li {
  position: relative;
  margin-bottom: 10px;
}
.product li::before {
  content: url(../images/Rectangle.png);
  position: absolute;
  top: -2px;
  left: -14px;
}
section {
  margin-bottom: 90px;
}

.title-me {
  display: flex;
  justify-content: space-between;
}
.designer-me h1 {
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  color: #ff5e69;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.designer-me p {
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
  text-transform: uppercase;
  width: 500px;
  margin: 0;
  padding: 0;
}
#me {
  width: 1100px;
  margin-bottom: 80px;
}
.text-about-me {
  width: 500px;
  color: #666;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  margin: 0;
  padding: 0;
  margin-bottom: 100px;
}
.images-me {
  display: grid;
  grid-template-columns: 300px 480px 300px;
  gap: 10px;
}
h3 {
  margin: 0;
}
.education {
  width: 1100px;
  display: flex;
  justify-content: space-around;
}
.educate {
  width: 530px;
}
.left {
  margin-right: 50px;
}
.educt {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 0 45px;
  margin-bottom: 15px;
  position: relative;
}
.educt::before {
  content: url(../images/book.png);
  width: 36px;
  height: 36px;
  top: 0;
  left: 0;
  position: absolute;
}
.name-educate-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
  border-bottom: 1px solid #e5e5e5;
}
.name-educate p {
  font-size: 16px;
  line-height: 20px;
  color: #666;
}
.year {
  font-size: 16px;
  line-height: 20px;
  color: #666;
  position: relative;
}
.year::before {
  content: "";
  top: 8px;
  left: -6px;
  width: 1px;
  height: 1px;
  background-color: #666;
  border: 1px #666 solid;
  border-radius: 50%;
  position: absolute;
}
.work {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 0 45px;
  margin-bottom: 15px;
  position: relative;
}
.work::before {
  content: url(../images/bag.png);
  width: 36px;
  height: 36px;
  top: 0;
  left: 0;
  position: absolute;
}
.name-work-first p,
.name-work-sec p,
.name-work-th p {
  font-size: 16px;
  line-height: 20px;
  color: #666;
}
.name-work-first {
  position: relative;
  padding-left: 65px;
}
.name-work-first::before {
  content: url(../images/fly.png);
  top: 3px;
  left: 0;
  position: absolute;
}
.name-work-sec {
  position: relative;
  padding-left: 65px;
}
.name-work-sec::before {
  content: url(../images/mash.png);
  top: 3px;
  left: 0;
  position: absolute;
}
.name-work-th {
  position: relative;
  padding-left: 65px;
}
.name-work-th::before {
  content: url(../images/king.png);
  top: 3px;
  left: 0;
  position: absolute;
}
.testimonials {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.testimonials h3 {
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  color: #4353ff;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.world-street {
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
  color: #000;
  margin-bottom: 50px;
}
.john {
  box-shadow: 10px 15px 15px 1px #d6d4d0;
}
.john-testi {
  display: flex;
  justify-content: space-between;
}
.testi {
  width: 500px;
  padding-top: 20px;
}
.text-testi {
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 80px;
}
h4 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  text-align: left;
  margin: 0;
  margin-bottom: 7px;
}
.founder {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-align: left;
}
.found-btn{
  display: flex;
  justify-content: space-between;
}
.left-right{
  display: inline-block;
  width: 45px;
  height: 45px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  background-color: #000;
}
.left-right:focus,
.left-right:active,
.left-right:hover{
  color: #000;
  background-color: #f7f5f5;
  border: none;
}
.for{
  margin-left: -0.25em;
}
.faq{
  width: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h5{
  color: #FF8A56;
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding-top: 50px;
}
.faq-cont p{
  color: #fff;
  font-size: 48px;
  line-height: 52px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 80px;
}