body {
  background-color: white;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  color: black;
}
a {
  text-decoration: none;
  color: black;
}
a:hover,
a:focus {
  background: #f7f5f5;
}
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

header {
  padding-top: 20px;
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.container {
  width: 1100px;
}
.nav {
  width: 510px;
}
.logo {
  width: 500px;
}
.navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.navigation li {
  color: black;
}
.navigation li a {
  display: block;
  padding: 6px;
}
.navigation li button {
  width: 150px;
  padding: 11px 10px;
  background-color: #fff;
  border: none;
}
.navigation li button:hover,
.navigation li button:focus {
  background: #f7f5f5;
}
.greetings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 90px;
}
.left-text {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}
.orange-text {
  color: #ff8a56;
  font-size: 68px;
  line-height: 70px;
  font-weight: 700;
}
.text {
  font-size: 64px;
  line-height: 70px;
  font-weight: 700;
}
.aboutme {
  margin-top: 30px;
  font-size: 18px;
  line-height: 33px;
  font-weight: 400;
  margin-bottom: 30px;
}
.btn {
  display: inline-block;
  vertical-align: baseline;
  font-size: 18px;
  line-height: 18px;
}
.black {
  background-color: black;
  border: none;
  padding: 20px 30px;
  color: #fff;
}
.white {
  background-color: #fff;
  border: none;
  padding: 20px 30px;
}
button:hover,
button:focus {
  background: #f7f5f5;
}
.black:hover,
.black:focus {
  background: #f7f5f5;
  color: black;
}

.company p {
  text-align: center;
  font-size: 18px;
  margin: 0;
  margin-bottom: 40px;
}
.friends {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.friends img {
  margin-right: 100px;
}
.th-logo {
  margin-right: 0;
}
.company {
  margin-bottom: 90px;
}
.service {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.red-text {
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  font-weight: 700;
  color: #ff5e69;
  margin: 0;
  padding-top: 50px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.large-text {
  width: 1000px;
  margin: 0;
  font-size: 54px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 110px;
}
.benefits {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.benefits-left,
.benefits-center,
.benefits-right {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 20px;
}
.benefits-right {
  margin-right: 0;
}
.title {
  margin-top: 40px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 25px;
  width: 350px;
}
.text-benefits {
  width: 350px;
  font-size: 16px;
  line-height: 28px;
  color: #666;
}
.product {
  list-style: none;
  margin: 0;
  padding: 15px;
  color: black;
  font-weight: 700;
}
.product li {
  position: relative;
  margin-bottom: 10px;
}
.product li::before {
  content: url(../images/Rectangle.png);
  position: absolute;
  top: -2px;
  left: -14px;
}
section {
  margin-bottom: 60px;
}
#project {
  padding-top: 50px;
}
.blog-cont {
  padding-top: 350px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.blog {
  text-align: left;
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  color: #ffa84b;
  text-transform: uppercase;
  padding-top: 50px;
}
.latest-news {
  width: 100px;
  text-align: left;
  font-size: 48px;
  line-height: 52px;
  font-weight: 700;
  margin: 15px 0;
}
.view {
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  color: #fff;
}
.view:hover,
.view:focus {
  text-decoration: underline;
  background-color: #000;
}
.list-blog {
  width: 620px;
  padding-top: 70px;
}
.read:hover {
  text-decoration: underline;
  background-color: #000;
}
.read {
  color: #fff;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #fff;
}
.text-blog {
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
  margin: 20px 0 35px 0;
}
time {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #fff;
  opacity: 0.5;
}
.list-blog li {
  padding: 25px 0 35px 0;
  border-bottom: 1px solid rgba(229, 229, 229, 0.2);
}
.title-main-project {
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  color: #b16cea;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.results p {
  font-size: 46px;
  line-height: 52px;
  font-weight: 700;
}
.project-text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.project-text button {
  width: 200px;
  background-color: #000;
  color: #fff;
  padding: 15px 0;
  border: none;
  font-size: 18px;
}
.project-text button:hover {
  background-color: #f7f5f5;
  color: #000;
}
.list-project {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-project li {
  margin-right: 20px;
  width: 450px;
  background-color: #f5f5f5;
}
.name-project {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #3c46ff;
  margin-top: 20px;
  text-transform: uppercase;
  margin-left: 30px;
}
.project-name {
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  margin-top: 15px;
  margin-left: 30px;
}
.project-view {
  display: block;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 30px;
}
.project-view:hover,
.project-view:focus {
  text-decoration: underline;
}
.left-design {
  display: inline-block;
  width: 45px;
  height: 45px;
  color: #010101;
  font-weight: 700;
  font-size: 16px;
  background-color: #fff;
  border: none;
}
.left-design:focus,
.left-design:hover {
  color: rgb(28, 28, 28);
  background-color: #f5eeee;
  border: none;
}

#project {
  position: relative;
}
.design-btn {
  width: 100px;
  position: absolute;
  right: 0;
  bottom: -300px;
}
.title-main-project {
  position: relative;
}
.list-project {
  position: absolute;
  left: 0;
  top: 280px;
}
.project-text {
  padding-bottom: 330px;
}
.title-me {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.designer-me h1 {
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  color: #ff5e69;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.designer-me p {
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
  text-transform: uppercase;
  width: 500px;
  margin: 0;
  padding: 0;
}
#me {
  width: 1100px;
  margin-bottom: 80px;
}
.text-about-me {
  width: 500px;
  color: #666;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  margin: 0;
  padding: 50px 0 0 0;
  margin-bottom: 100px;
}
.images-me {
  display: grid;
  grid-template-columns: 300px 480px 300px;
  gap: 10px;
}
h3 {
  margin: 0;
}
.education {
  width: 1100px;
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.educate {
  width: 530px;
  padding-top: 70px;
}
.educt {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 0 45px;
  margin-bottom: 15px;
  position: relative;
}
.educt::before {
  content: url(../images/book.png);
  width: 36px;
  height: 36px;
  top: 0;
  left: 0;
  position: absolute;
}
.name-educate-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
  border-bottom: 1px solid #e5e5e5;
}
.name-educate p {
  font-size: 16px;
  line-height: 20px;
  color: #666;
}
.year {
  font-size: 16px;
  line-height: 20px;
  color: #666;
  position: relative;
}
.year::before {
  content: "";
  top: 8px;
  left: -6px;
  width: 1px;
  height: 1px;
  background-color: #666;
  border: 1px #666 solid;
  border-radius: 50%;
  position: absolute;
}
.work {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 0 45px;
  margin-bottom: 15px;
  position: relative;
}
.work::before {
  content: url(../images/bag.png);
  width: 36px;
  height: 36px;
  top: 0;
  left: 0;
  position: absolute;
}
.name-work-first p,
.name-work-sec p,
.name-work-th p {
  font-size: 16px;
  line-height: 20px;
  color: #666;
}
.name-work-first {
  position: relative;
  padding-left: 65px;
}
.name-work-first::before {
  content: url(../images/fly.png);
  top: 3px;
  left: 0;
  position: absolute;
}
.name-work-sec {
  position: relative;
  padding-left: 65px;
}
.name-work-sec::before {
  content: url(../images/mash.png);
  top: 3px;
  left: 0;
  position: absolute;
}
.educate {
  padding-top: 40px;
}
.name-work-th {
  position: relative;
  padding-left: 65px;
}
.name-work-th::before {
  content: url(../images/king.png);
  top: 3px;
  left: 0;
  position: absolute;
}
.testimonials {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 90px;
}
.testimonials h3 {
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  color: #4353ff;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-top: 50px;
}
.world-street {
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
  color: #000;
  margin-bottom: 50px;
}
.john {
  box-shadow: 10px 15px 15px 1px #d6d4d0;
}
.john-testi {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.testi {
  width: 500px;
  padding-top: 20px;
}
.text-testi {
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 80px;
}
h4 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  text-align: left;
  margin: 0;
  margin-bottom: 7px;
}
.founder {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-align: left;
}
.found-btn {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.left-right {
  display: inline-block;
  width: 45px;
  height: 45px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  background-color: #000;
}
.left-right:focus,
.left-right:hover {
  color: #000;
  background-color: #f7f5f5;
  border: none;
}
.for {
  margin-left: -0.25em;
}
.faq {
  width: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding-bottom: 150px;
  color: #fff;
}
h5 {
  color: #ff8a56;
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding-top: 50px;
}
.faq-cont p {
  color: #fff;
  font-size: 48px;
  line-height: 52px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 80px;
}
.faq-question {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
details {
  width: 520px;
  border-bottom: 1px solid rgba(229, 229, 229, 0.2);
  margin-right: 0;
}
.title-details {
  color: #fff;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
  padding: 30px 0 30px 3px;
  border-bottom: 1px solid rgba(229, 229, 229, 0.2);
  display: block;
  width: 100%;
  position: relative;
}
.title-details:hover,
.title-details:focus {
  cursor: pointer;
  background-color: #11110f;
  transition: 0.5s ease;
}
.title-details::after {
  display: block;
  content: "‹";
  transform: rotate(270deg);
  top: 33px;
  right: 7px;
  position: absolute;
  transition: 0.4s ease;
}
details[open] .title-details::after {
  transform: rotate(90deg);
  transition: 0.3s ease;
}
.text-details {
  padding: 15px 0 15px 20px;
  font-weight: 400;
  color: rgba(229, 229, 229, 0.8);
  font-size: 18px;
  line-height: 28px;
  background-color: #010101;
}
details summary::-webkit-details-marker {
  display: none;
}

.footer {
  width: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding-bottom: 30px;
  color: #fff;
}
.ready {
  color: #fff;
  font-size: 48px;
  line-height: 52px;
  font-weight: 700;
  text-align: left;
}
.lets {
  cursor: pointer;
  border: 0;
  background-color: #000;
  color: #4353ff;
  font-size: 48px;
  line-height: 52px;
  font-weight: 700;
  text-align: left;
  padding: 0;
}
.lets:hover,
.lets:focus {
  background-color: #000;
  color: #4353ff;
}
.footer-cont {
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.right-foot {
  width: 480px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.li-foot-a {
  color: #fff;
  display: block;
  padding: 4px;
}
.right-foot li {
  margin-bottom: 20px;
}
.li-foot-a:hover,
.li-foot-a:focus {
  color: #000;
}
address {
  color: #666;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}
.mail {
  color: #666;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  padding-left: 35px;
}
.mail::before {
  content: url(../images/mail.png);
  position: absolute;
  top: 0;
  left: 0;
}
.logo-main:hover,
.logo-main:focus {
  background-color: rgba(229, 229, 229, 0);
  color: #000;
}
.pop-up-bg {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;  
  display: flex;
  justify-content: center;
  align-items: center;
}
.pop-up {
  width: 500px;
  height: 450px;
  background-color: #fff;
  box-shadow: 10px 10px 20px 10px rgba(229, 229, 229, 0.3);
  border-radius: 5%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
position: relative;
}
.cross-popup{
  position: absolute;
  top: 20px;
  left:520px;
  z-index: 1;
}
.logo-popup {
  margin-top: 20px;
  width: 200px;
}
.pop-up h1 {
  color: #ff8a56;
  font-size: 56px;
  line-height: 56px;
  font-weight: 700;
  width: 500px;
  text-align: center;
  margin-top: 50px;
}
.pop-up-p {
  width: 500px;
  color: #010101;
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  margin-bottom: 50px;
  text-align: center;
}
.btn-pop-up {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  width: 500px;
}
.pop-up button {
  width: 200px;
  background-color: #010101;
  padding: 20px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  color: #f5f5f5;
  margin-top: 50px;
  display: block;
}
.pop-up button:hover,
.pop-up button:focus {
  background: #f7f5f5;
  color: #010101;
  transition: 0.5s all;
}
.label-tel {
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  margin-right: 15px;
}
.tel {
  width: 240px;
  border: #000 2px solid;
  padding: 10px;
}
.tel:hover,
.tel:focus,
.tel:active {
  border: #7e35a0 2px solid;
  transition: 0.8 all;
}
